@import '../../App.scss';

.TodoList {
  width: 100%;
  height: 100%;
  @include flexBox($ff: column nowrap, $jc: flex-start);
  padding: 1em 1em 0 0;
  gap: 1em;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    background: $acrylic-light;
  }

  &::-webkit-scrollbar-thumb {
    background: $acrylic-dark;
    border-radius: 1em;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $accent;
  }

  &::-webkit-scrollbar-thumb:active {
    background: $primary;
  }
}
